[submodule "modules/mango"]
	path = modules/mango
	url = https://github.com/sergeyklay/gleez-mango.git
[submodule "themes/cerber"]
	path = themes/cerber
	url = https://github.com/sergeyklay/gleez-cerber.git
[submodule "modules/pages"]
	path = modules/pages
	url = git@github.com:jakimfett/cms-modules-pages.git
[submodule "modules/newsletter"]
	path = modules/newsletter
	url = git@github.com:jakimfett/cms-modules-newsletter.git
[submodule "cms-themes-labyrinth"]
	path = themes/labyrinth
	url = git@github.com:jakimfett/cms-themes-labyrinth.git
